/* <----- GENERAL STYLING -----> */
* {
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0B2434;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #f5f5f5;
  height: fit-content;
  max-width: 800px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info{
  text-align: center;
  width: 60%;
  margin:0 0 40px 0;
}

.info >p {
  margin-top: -10px;
}

.die-container {
  display: grid;
  grid-template: auto auto / repeat(5,1fr);
}
.die{
  width: 80px;
  height: 80px;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgb(215, 215, 215);
  margin: 15px;
  cursor: pointer;
  transition: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  color: #0B2434;
  text-align: center;
  font-size: 2.5rem;
}

  
.die:hover{
  background-color: #f8f6f6;
}

button{
  background-color: #5035FF;
  border: none;
  font-size: 1.5rem;
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgb(180, 180, 180);
  transition: 100ms;
  margin-top: 20px;
}

button:hover{
  background-color: #3a27b6;
}

button:active{
  box-shadow: 0px 1px 3px rgb(180, 180, 180), inset 0  5px 10px rgba(0,0,0,0.3);
}

button:focus{
  outline: none;
}


@media only screen and (max-width: 680px) {
  main {
    width: 90%;
    margin: auto;
  }
  .die{
    width: 40px;
    height: 40px;
    margin: 8px;

    h2{
      font-size: 1.3rem;
    }
  }
}